body {
    background: #16a085;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    padding: 0;
    filter: blur(3px);
}
.content{
    /*padding: 0 20px;*/
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    border-left: 1px solid #21453E;
    border-right: 1px solid #21453E;
    background: rgba(255,255,255,0.6);
    min-height: 100vh;
}
.header .nav{
    width: 100%;
    background: #103b2d;
}
.login_form{
    max-width: 500px;
    margin: 200px auto auto;
    background: rgba(255,255,255,0.6);
    padding: 15px;
    border: 1px solid #21453E;
    border-radius: 10px;
}
.page_404{
    font-size: 48px;
}
.field-label{
    min-width: 150px;
    flex-direction: row-reverse;
}
svg {
    transform: scale(1.0);
    margin-left: -10px;
    margin-right: 10px;
}