#main-ctr {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

svg {
    transform: scale(1.85);
}

p {
    margin-top: 80px;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #999;
    letter-spacing: 2px;
    line-height: 1.25;
    font-size: 16px;
}

.buttons-ctr button {
    border: 1px solid black;
    padding: 10px 15px;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
    color: black;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 14px;
    transition: .3s all ease;
    pointer-events: auto;
}
.buttons-ctr button.active{
    background: #FFEB97;
    pointer-events: none;
}
.buttons-ctr button:focus{
    outline: none;
}

.copyright span{
    line-height: 36px;
    color: #999;
    margin-right: 10px;
    font-weight: 300;
}
.copyright span a{
    font-weight: 400;
    text-decoration: none;
    color: #ea4c89;
}

#wk-l-eye,
#wk-r-eye,
#sm-mouth-1,
#sm-mouth-2,
#sm-mouth-3,
#st-l-eye,
#st-r-eye,
#rg-l-eye,
#rg-r-eye,
#hg-l-eye,
#hg-r-eye,
#st-mouth,
#rg-mouth,
#hr-mouth {
    visibility: hidden;
}